:root {
  --color-link: teal;
  --color-black: black;
  --color-white: white;
  --color-bg-light: #f4f1ed;
}

* {
  font-family: "Noto Sans", sans-serif;
}

body {
  padding: 0;
  margin: 50px 0px;
  background-color: var(--color-bg-light);
}

main {
  background-color: var(--color-bg-light);
  margin: 100px 0px 250px 0px;
  height: 100vh;
  padding: 15px;
}

a {
  font-weight: bold;
  color: var(--color-link);
}

a:hover {
  color: var(--color-black);
}

/* sticky header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-black);
  color: white;
  padding: 5px;
}

header a:hover {
  color: var(--color-white);
}

header > h1 {
  text-align: center;
}

/* sticky footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/* Specific Styling for Index.html */
.main-index {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.main-index section {
  width: 50%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .main-index {
    flex-direction: column;
  }

  .main-index section {
    width: 100%;
  }
}
